<div ng-controller="ConsoleController" id="ConsoleController">

    <div style="height: 600px" class="Output scrollable">
    	<div ng-repeat="line in Output" ng-class="line.Class">{{line.Message}}</div>
    </div>

	<form ng-submit="SubmitCommand()">
		<input type="text" class="form-control" ng-model="Command" ng-keyup="KeyUp($event)" />
	</form>
	<label>
		Set Server Rates: <select ng-model="GatherRate" ng-change="GatherChange($event)">
			<option selected>Choose a rate</option>
			<option value="2">2X</option>
			<option value="5">5X</option>
			<option value="10">10X</option>
			<option value="100">100X</option>
		</select>
	</label>
</div>